.onNote-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	position: relative;
	bottom: -315px;
    
}
.onNote__footer-copyright {
	margin-top: 2rem;
	text-align: center;
	width: 100%;
}

.onNote__footer-copyright p {
	font-size: 12px;
	line-height: 15px;
	color: #fff;
}